@import url('resizer.css');
html, body, #root, .container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
}

.main-pane {
  width: 100%;
  height: 100%;
}

.Pane1 {
  flex: 1;
}
.Pane2 {
  flex: 1;
}

.graph-pane {
  width: 100%;
  height: 100vh;
}

.graph-pane>div {
  width: 100%;
}

.table-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

}

.table-pane .search {

}

.table-pane .header {

}

.table-pane .table {
  flex: 1;
}

.table-pane .table .row {
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
  display: flex;
}

.table-pane .table .row .col {

}
